<h1>Welcome To Productivity Central</h1>
<h4>Where you're reminded of all you've done</h4>
<div class="mascot">
	<%= image_tag("Businessman.png", :class => "img-responsive", :alt => "business man juggling") %>
</div>
