// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




h1, h4 {

	text-align: center;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: grey;
	margin-bottom: .5em;
}

h4 {
	color: white;
}